$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-email: "\e940";
$icon-chat_bubble: "\e941";
$icon-memory: "\e942";
$icon-flash_on: "\e943";
$icon-public: "\e944";
$icon-school: "\e945";
$icon-star: "\e946";
$icon-account_circle: "\e947";
$icon-bookmark: "\e948";
$icon-code: "\e949";
$icon-lightbulb_outline: "\e94a";
$icon-offline_bolt: "\e94b";
$icon-emoji_objects: "\e94c";
$icon-auto_stories: "\e94d";
$icon-build_circle: "\e94e";
$icon-engineering: "\e94f";
$icon-insights: "\e950";
$icon-integration_instructions: "\e951";
$icon-pest_control: "\e952";
$icon-error: "\e900";
$icon-error_outline: "\e901";
$icon-warning: "\e902";
$icon-new_releases: "\e903";
$icon-not_interested: "\e904";
$icon-business: "\e905";
$icon-drafts: "\e906";
$icon-picture_as_pdf: "\e907";
$icon-account_balance: "\e908";
$icon-translate: "\e909";
$icon-calendar_today: "\e90a";
$icon-home_filled: "\e90b";
$icon-mark_as_unread: "\e90c";
$icon-apartment: "\e90d";
$icon-qr_code_2: "\e90e";
$icon-home: "\e953";
$icon-home2: "\e954";
$icon-home3: "\e955";
$icon-office: "\e956";
$icon-pacman: "\e957";
$icon-profile: "\e958";
$icon-compass2: "\e959";
$icon-cool: "\e9eb";
$icon-cool2: "\e9ec";
$icon-evil: "\e9ef";
$icon-evil2: "\e9f0";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-github: "\eab0";
$icon-npm: "\eab1";
$icon-linkedin: "\eac9";
$icon-adobeacrobatreader: "\e90f";
$icon-adobexd: "\e910";
$icon-amazonaws: "\e911";
$icon-angular: "\e912";
$icon-apple: "\e913";
$icon-bootstrap: "\e914";
$icon-csharp: "\e915";
$icon-css3: "\e916";
$icon-csswizardry: "\e917";
$icon-docker: "\e918";
$icon-dot-net: "\e919";
$icon-facebook1: "\e91a";
$icon-flask: "\e91b";
$icon-gimp: "\e91c";
$icon-git: "\e91d";
$icon-github1: "\e91e";
$icon-gmail: "\e91f";
$icon-graphql: "\e920";
$icon-gulp: "\e921";
$icon-heroku: "\e922";
$icon-html5: "\e923";
$icon-icomoon: "\e924";
$icon-inkscape: "\e925";
$icon-instagram1: "\e926";
$icon-javascript: "\e927";
$icon-jenkins: "\e928";
$icon-jest: "\e929";
$icon-linkedin1: "\e92a";
$icon-linux: "\e92b";
$icon-microsoft: "\e92c";
$icon-mongodb: "\e92d";
$icon-mysql: "\e92e";
$icon-node-dot-js: "\e92f";
$icon-notion: "\e930";
$icon-npm1: "\e931";
$icon-postman: "\e932";
$icon-postwoman: "\e933";
$icon-prettier: "\e934";
$icon-python: "\e935";
$icon-react: "\e936";
$icon-redux: "\e937";
$icon-rust: "\e938";
$icon-stackexchange: "\e939";
$icon-stackoverflow: "\e93a";
$icon-svelte: "\e93b";
$icon-typescript: "\e93c";
$icon-unsplash: "\e93d";
$icon-vue-dot-js: "\e93e";
$icon-windows: "\e93f";

