@import "../../sass/index.scss";

.switch {
    &__wrapper {
        align-self: center;
        max-width: 100%;
        height: 32px;
        display: flex;
        gap: .5rem;
        align-items: center;
        box-sizing: border-box;

        margin: .5rem;
    }

    &__container {
        @extend %smooth;
        display: flex;
        justify-content: center;
        border: 1px solid #ddd;
        border-radius: 30px;
        height: 100%;
        width: 64px;
        position: relative;
        padding: 3px;
        box-sizing: border-box;
        background: rgba(#333, .2);
        box-shadow: inset 1px 7px 7px -6px #888;
        cursor: pointer;

        &.double, &.checked {
            background: $primaryGradient;
        }
    }

    &__button {
        @extend %smooth;
        display: block;
        border-radius: 40px;
        width: 22px;
        height: 24px;
        background: #fff;
        position: absolute;
        left: 4px;
        box-shadow: 0px 7px 8px -5px rgba(#555, .7), inset 0px 4px 19px -8px #eee;

        &:hover {
            background: white;
        }

        &.checked {
            @extend %smooth;
            transform: translate(30px);
            background: white;
            box-shadow: 0px 7px 8px -5px rgba($primaryBlue, .7), inset 0px 4px 15px -11px #999;
        }
    }
}