@import "../../sass/index.scss";

.burger-menu {
    &__wrapper {
        position: relative;
        overflow: visible;
    }

    &__menu {
        position: absolute;
        top: 100%;
        margin-top: 10px;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        background-color: white;
        // border: 1px solid rgba(#555, .2);
        border-radius: 4px;
        box-shadow: $primaryShadow;

        .btn {
            width: 100%;
            text-align: left;
            border-radius: 0;
        }
    }
}