@import "../../sass/partials/variables";

.skills {
    &__container {
        padding: 1rem 2rem;
    }

    &__category-family {
        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

        display: grid;
        gap: 1rem;

        &__title {
            display: flex;
            align-items: center;
            background: $secondaryGradient;
            background-clip: text;
            -webkit-background-clip: text;
            justify-content: space-between;

            i {
                font-size: 32px;
            }
        }
    }
}