@use "../../sass/partials/variables";
@use "../../sass/partials/extends";

.contact-me {
    & * {
        @extend %smooth;
    }
    &__wrapper {
        text-decoration: none;
        display: flex;
        align-items: center;

        &:hover {
            .contact-me__icon, .contact-me__text {
                @extend %smooth;
                box-shadow: 0 22px 16px -11px rgba(#555, .6);
            }
        }
    }
    &__icon, &__text {
        @extend %smooth;
        background: white;
        border: 1px solid rgba(#555, .2);
    }
    &__icon {
        font-size: 32px;
        padding: 1rem;
        border-radius: 100%;
        z-index: 3;
    }

    &__text {
        padding: .5rem 1rem;
        border-radius: 0 30px 30px 0;
        margin: 0 0 0 -10px;
        z-index: 0;
        background: variables.$primaryGradient;
        color: white;
    }
}