@import "../../sass/index.scss";

nav {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid rgba(black, .2);

    .options {
        display: flex;
        gap: .5rem;
    }
}