@import "../../sass/partials/animations";
@import "../../sass/partials/variables";
@import "../../sass/partials/extends";

.accordion {
    &__obj {
        @extend %smooth;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border: 1px solid rgba(#999, .3);
        border-radius: 16px;

        & small {
            display: block;
            width: 100%;
            margin-top: .5rem;
            font-size: 70%;
        }

        &:hover {
            box-shadow: $primaryShadow;
        }
    }

    &__header {
        @extend %smooth;
        height: 64px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>* {
            position: relative;
            z-index: 1;
            padding: 0;
            margin: 0;
        }

        &.open {
            border-bottom: 1px solid rgba(#555, .2);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            & .work-exp__header--chevron {
                transform: rotate(180deg);
            }

            &:hover {
                & .work-exp__header--chevron {
                    transform: rotate(180deg);
                    animation: bounce2 cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite 1s;
                }
            }
        }

        padding: 0 1rem;

        &--chevron {
            @extend %smooth;
            justify-self: flex-end !important;
        }

        & div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
        }

        img {
            height: 48px;
            width: 48px;
            object-fit: cover;
            border-radius: 100%;
            border: 1px solid rgba(#555, .2);
        }

        .icon-big {
            font-size: 32px;
        }

        &:hover {
            & .work-exp__header--chevron {
                animation: bounce cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite 1s;
            }
        }
    }

    &__content {
        transition: all .2s ease-out;
        display: grid;
        grid-template-rows: 0fr;

        &>div {
            @extend %smooth;
            overflow: hidden;
            padding-inline: 1rem;
            opacity: 0;
        }

        &.open {
            grid-template-rows: 1fr;

            &>div {
                opacity: 1;
                padding: 1rem;
            }
        }

        small {
            background: $secondaryGradient;
            padding: 1rem;
            margin: 1rem -1rem -1rem;
            color: white;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & i {
                position: relative;
                font-size: 2rem;
                transform: rotate(10deg);
            }
        }
    }
}