// Widths
$wXXSmall: 320px;
$wXSmall: 375px;
$wSmall: 425px;
$wMedium: 768px;
$wLarge: 1024px;
$wXLarge: 1440px;

// Colors
$primaryGradient: linear-gradient(90deg, #ff0A6C 10%, #2D27FF 90%);
$primaryGradientHover: linear-gradient(90deg, #ff0A6C 40%, #2D27FF 90%);

// Shadows
$primaryShadow: #808080 0 10px 40px -10px;